*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0;
}
/* section 1 */

.main {

    background-color:  #f8c027;
    height: 140px;
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-left: 10px;
    /* padding-bottom: 20px; */


}

.main1 img {
    float: left;
     height: 120px;

}

.nav a {
    text-decoration: none;

}

.nav {

    float: left;
    margin-left: 120px;
    margin-top: 40px;
    


}

.nav li {
    font-size: 30px;
    display: inline;
    margin: 15px;
    color: navy;

}

.nav a li:hover
{

transform: scale(1.09);
height: 100px;
width: 20%;
/* background-color:rgb(250, 14, 144); */
color: rgb(250, 14, 144);


}

/* section2 */

.first{

    height: 500px;
    /* border: 2px solid red; */
    text-align: center;
    /* margin-top: 30px; */
}
.firstone{

    margin-top: 70px;
    font-size: 30px;
}
.firstone h1{


    font-size: 45px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgba(20, 19, 19, 0.886);
}
.firstone p{
font-size: 30px;
margin-top: 35px;
color: grey ;

}

/* section3 */
.second{

    height: 750px;
    /* border: 2px solid red; */
    margin-top: 20px;
    
}

.secondone{
    height: 665px;
    width: 58%;
    margin-left: 320px;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    border-radius: 13px;
    background-color: #f8c027;
    padding-top: 25px;
  


}
.secondone input{

    margin-top: 20px;
  

    height: 60px;
    margin-left: 40px;
    border-radius: 8px;
    background-color: #f8c027;
    border: 1px solid grey;
    font-size: 17px;
   


}
/* .placeholder{
    margin-left: 20px;
} */
.secondone button{

    height: 50px;
    width: 25%;
   margin-left: 280px;
   border-radius: 20px;
   background-color: green;
   color: white;
   font-size: 15px;

}
.secondone textarea{

    margin-left: 40px;
    border-radius: 8px;
    background-color: #f8c027;
    font-size: 17px;


}


/* section4 */

.end{

    height: 750px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 10px;
    background-color: #f8c027;
}

.end1{

    float: left;
    margin-left: 50px;
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
}
.end1 li{

    margin-top: 26px;
}

.end1 p{

    margin-top: 40px;
    
}
.end1 li:hover{

    transform: scale(1.02);
    color: green;
}
.end1 img{

    height: 70px;
    width: 17%;
    margin-top: 370px;
}
.end1 input{

    height: 30px;
    width: 80%;
    margin-top: 20px;
}