*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0;
}
/* section 1 */

.main {

    background-color:  #f8c027;
    height: 140px;
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;


}

.main1 img {
    float: left;
     height: 120px;

}

.nav a {
    text-decoration: none;

}

.nav {

    float: left;
    margin-left: 120px;
    margin-top: 40px;
    


}

.nav li {
    font-size: 30px;
    display: inline;
    margin: 15px;
    color: navy;

}

.nav a li:hover
{

transform: scale(1.06);
height: 100px;
width: 20%;
/* background-color:rgb(250, 14, 144); */
color: rgb(250, 14, 144);

}
/* section2 */
.first{

    height: 1700px;
    width: 60%;
    /* border: 2px solid red; */
    margin-top: 20px;
    margin-left: 300px;
}
.firstone p{

    font-size: 22px;
    margin-top: 60px;
}
.firstone h1{

    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

/* section 3 */

.end{

    height: 750px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 80px;
    background-color: #f8c027;
}

.end1{

    float: left;
    margin-left: 50px;
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
}
.end1 li{

    margin-top: 26px;
}

.end1 p{

    margin-top: 40px;
    
}
.end1 li:hover{

    transform: scale(1.02);
    color: green;
}
.end1 img{

    height: 70px;
    width: 17%;
    margin-top: 370px;
}
.end1 input{

    height: 30px;
    width: 80%;
    margin-top: 20px;
}