
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0;
}
/* section 1 */

.main {

    background-color:  #f8c027;
    height: 140px;
    /* margin-top: 20px; */
    padding-top: 10px;
    padding-left: 10px;
    /* padding-bottom: 20px; */


}

.main1 img {
    float: left;
     height: 120px;

}

.nav a {
    text-decoration: none;

}

.nav {

    float: left;
    margin-left: 120px;
    margin-top: 40px;
    


}

.nav li {
    font-size: 30px;
    display: inline;
    margin: 15px;
    color: navy;

}

.nav a li:hover
{

transform: scale(1.09);
height: 100px;
width: 20%;
/* background-color:rgb(250, 14, 144); */
color: rgb(250, 14, 144);
}

/* section2 */
.firstone h1{

font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 50px;
/* margin-bottom: 50px; */
text-align: center;
background-color: rgb(211, 230, 247);

}

/* section3 */

.middle{
    /* background-color: rgb(211, 230, 247); */

    height: 400px;
    width: 100%;
    /* border: 2px solid red; */

}
.mid{

    height: 360px;
    width: 21%;
    text-align: center;
    float: left;
    margin: 20px;
    margin-left: 25px;
    /* border: 1px solid black; */
    /* background-color: yellowgreen; */
   


}

.mid img{

    height: 280px;
    /* width: 100%; */
    /* border:2px solid rgb(228, 255, 53); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mid :hover{

    transform: scale(1.05);
    transition: 2s;
}
.mid del{
    color: rgb(196, 45, 45);
}

.mid button{

    margin-top: 5px;
    /* color: white; */
    /* background-color: beige; */

}
.mid button:hover{

    background-color: green;
    color: white;
}

/* section 4 */

.middle2{

    height: 800px;
    width: 100%;
    /* border: 2px solid red; */
    /* margin-top: 20px; */
    background-color: rgb(211, 230, 247);


}
.mid2{

    height: 360px;
    width: 21%;
    text-align: center;
    float: left;
    margin: 20px;
    margin-left: 25px;
    /* border: 1px solid black; */
    /* background-color: yellowgreen; */

}

.mid2 img{

    height: 280px;
    /* width: 100%; */
    /* border:2px solid rgb(228, 255, 53); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mid2 :hover{

    transform: scale(1.05);
    transition: 2s;

}
.mid2 del{
    color: rgb(196, 45, 45);
}

.mid2 button{

    margin-top: 5px;
    /* color: white; */
    /* background-color: beige; */

}
.mid2 button:hover{

    background-color: green;
    color: white;
}


/* section5 */

.end{

    height: 750px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 80px;
    background-color: #f8c027;
}

.end1{

    float: left;
    margin-left: 50px;
    font-size: 20px;
    list-style: none;
    margin-top: 50px;
}
.end1 li{

    margin-top: 26px;
}

.end1 p{

    margin-top: 40px;
    
}
.end1 li:hover{

    transform: scale(1.02);
    color: green;
}
.end1 img{

    height: 70px;
    width: 17%;
    margin-top: 370px;
}
.end1 input{

    height: 30px;
    width: 80%;
    margin-top: 20px;
}